@font-face {
    font-family: "OS";
    src: url(../OpenSans-Regular.woff);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "OS", sans-serif;
    color: var(--Mywhite);
    scroll-behavior: smooth;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--Myblack);
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

:root {
    --omrs-color-ink-lowest-contrast: #2f3c552e;
    --omrs-color-ink-low-contrast: #3c3c434d;
    --omrs-color-ink-medium-contrast: #13131599;
    --omrs-color-interaction: #1e4bd1;
    --omrs-color-interaction-minus-two: #4985e01f;
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;
}

.label_box>input {
    border: none;
    width: 100%;
    height: 2rem;
    font-size: 0.95rem;
    background-color: #4985e01f;
    border-radius: 5px;
    padding: 6px;
    border-bottom: 1px solid transparent;
    transition: all ease-in 0.3s;
}

.label_box>.input-label {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 10px;
    line-height: 147.6%;
    color: var(--omrs-color-ink-medium-contrast);
    transition: all 0.2s;
    display: flex;
    align-items: center;
}

.label_box>i {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    display: flex;
    align-items: center;
}

.input-helper {
    color: var(--omrs-color-ink-medium-contrast);
    margin: 5px;
    font-size: 0.9rem;
}

.label_box>input:focus+.input-label,
.label_box>input:valid+.input-label, .label_box>input:hover+.input-label {
    top: -35px;
    color: var(--omrs-color-interaction);
    font-size: 0.9rem;
}

.label_box>input:focus+.input-label {
    color: var(--omrs-color-interaction);
}

.label_box>input:focus {
    border-bottom: 1px solid var(--omrs-color-interaction);
}

.label_box {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 270px;
}